.footer_container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 8%,
    rgba(107, 107, 107, 1) 91%,
    rgba(99, 99, 99, 0.8127844887955182) 100%
  );
  padding: 50px 40px 8px;
}
.footer_container > div {
  flex-basis: 33%;
}

.footer_info {
  color: white;
}

.footer_info > img {
  width: 100%;
}
.footer_info > p {
  width: 90%;
}
.account_info {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.account_info > h2 {
  padding-bottom: 15px;
  margin-left: -45px;
}
.account_info p {
  margin-bottom: 10px;
}

.social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
.social_media > h2 {
  color: white;
  align-self: center;
}

.social_media .icons {
  display: flex;
  gap: 20px;
}
.social_media .icons > a > div {
  width: 40px;
  height: 40px;
  padding: 7px;
  border-radius: 3px;
  box-shadow: 0px 5px 8px 0px rgba(24, 37, 71, 0.29);
  position: relative;
}

.social_icon_fa {
  background: linear-gradient(45deg, #1877f2, #4a90e2);
}

.social_icon_in {
  background: linear-gradient(45deg, #8134af, #f58529);
}
.social_media .icons > a > div:hover {
  scale: 1.1;
}

.inside_icon {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 431px) {
  .footer_container {
    flex-wrap: wrap;
  }
  .footer_container > div {
    flex-basis: 100%;
  }
  .account_info {
    text-align: center;
    margin-bottom: 40px;
  }
  .account_info > h2 {
    margin-left: 0;
  }
  .social_media {
    margin-bottom: 70px;
  }
}
